body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }
/* optional Container STYLES */
.chart {margin: 20px;}
.Treant > .node {  }
.Treant .collapse-switch { width: 100%; height: 100%; border: none;}
.Treant .node.collapsed .collapse-switch { background: none;}
.node-desc { font-size: 11px;}
/*.node-name { font-weight: bold;}*/

.proj {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #03a9f4;
    border: 1px solid #000;
    color: #ffffff;
    font-weight: bold;
}

/*.nodeExample1 img {*/
    /*margin-right:  10px;*/
/*}*/

.grey {
  background-color: #bdecc7;
  color: #000;
  font-weight: normal;
}

.green {
  background-color: #4caf50;
  color: #000;
  font-weight: normal;
}

.yellow {
    background-color: #ffeb3b;
    color: #000;
    font-weight: normal;
}

.red {
    background-color: #d35654;
    color: #000;
    font-weight: normal;
}

.aqua {
  background-color: #4C5B7F;
  color: #fff;
  font-weight: normal;
}

.leaf {
  background-color: #B2D55D;
  color: #000;
}

.blue {
    background-color: #19444a;
  color: #ffffff;
  font-weight: normal;
}

.dark {
  background-color: #212529;
  font-weight: normal;
}

.magenta {
  background-color: #a944db;
  color: #000;
  font-weight: normal;
}

.orange {
  background-color: #dd8341;
  color: #000;
  font-weight: normal;
}

.imp-error {
  background-color: #f11d2f;
  color: #ffffff;
  font-weight: bolder;
}

.not-imp {
  background-color: #98a7be;
  font-weight: normal;
  color: #202220
}

.status-0 {
  background-color: #c9cacb;
  color: #212529;
  font-weight: normal;
  border-width: medium;
  border-color: #3e8914;
}

.status-1 {
  background-color: #c9cacb;
  color: #212529;
  border-width: medium;
  border-color: #e3170a;
  font-weight: normal;
}

.status-2 {
  background-color: #c9cacb;
  color: #212529;
  border-width: medium;
  border-color: #ff7733;
}

.status-3 {
  background-color: #c9cacb;
  color: #212529;
  border-width: thick;
  border-color: #e3170a;
}

.not-analyzed {
    background-color: #fdfdfd;
    color: #7f7f7f;
    font-weight: normal;
    border-width: thin;
    border-color: #212529;
}

/*.status-x {*/

/*}*/

/*.wrap {*/
/*  background-color: #f8f9fa;*/
/*  width: 2.5fr;*/
/*  !*display: inline-block;*!*/
/*}*/

.chart {
  overflow: auto;
}

input[type=checkbox] {
  display: none;
}

div.zoomer {
  transition: transform 0.25s ease;
  cursor: zoom-in;
  /*width: 100%;*/
}

input[type=checkbox]:checked ~ .wrap > .chart {
  transform: scale(0.5);
  transform-origin: 0 0;
  width: 200%;
  cursor: zoom-out;
}
