
{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Kastel Editor</h1>
            <p class="lead">
                Admin Panel
            </p>
            {% if current_user.is_authenticated and current_user.has_role("superuser") %}
            <p>
                Welcome to the admin panel. Use with care, all changes are permanent and immediate. Deleting projects
                should be done through the normal manner in the project view and not through here as it would leave
                orphaned columns in the database.
            </p>

            <p><b>
               To delete a user, please make sure that the user has no current projects and is not an editor in any
                projects.
            </b></p>
            {% else %}
              <p>
                <h1 class="text-danger">You don't have acces to this area</h1>
              </p>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <p>
                To continue, please log in.
            </p>
            <p>
                <a class="btn btn-primary" href="{{ url_for('login') }}">login</a>
            </p>
            {% endif %}
            <p>
                <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
            </p>
        </div>
    </div>
</div>
{% endblock body %}