{% extends "base.html" %}

{% block content %}
    {% for message in get_flashed_messages(category_filter=["succ"]) %}
        <div class="alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% for errors in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert-danger" role="alert">{{ errors }}</div>
    {% endfor %}
    <div class="container-fluid mt-5">
    <form action="" method="post" name="assumptions">
        <table class="table table-bordered">
            <caption>Add assumptions for every Hard Goal</caption>
            <thead class="thead-inverse text-center">
            <tr>
                <th class="text-light">Hard Goals</th>
                <th class="text-light">Black-Box Mechanism</th>
                <th class="text-light">Separate Assumptions</th>
            </tr>
            </thead>
            <tbody>
            {%  for hgoal in current_hardgoals %}
                {% if hgoal.priority %}
                    {% if hgoal not in empty_hgoals %}
                    <tr class="table-primary">
                        <td class="align-middle"><b>{{ hgoal.description }}</b></td>
                    {% for bbm in hgoal.bbmechanisms %}
                        <td class="align-middle"><b>{{ bbm.name }}</b></td>
                        <td>
                            <table class="table">
                                <tbody>
                                {% for ass in bbm.assumptions %}
                                    <tr class="table-primary">
                                        <td><b>{{ ass.name }}</b></td>
                                    </tr>
                                {% endfor %}
                                {% if bbm.extra_hg %}
                                  <tr class="table-primary">
                                    <td><b>A new Hardgoal with "{{ bbm.extra_hg }}" needs to be created</b>
                                    <button type="submit" class="btn btn-raised btn-primary btn-sm" name="ehg" value="{{ bbm.id }}-{{ hgoal.id }}">Add</button></td>
                                  </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </td>
                    {% endfor %}
                    </tr>
                    {% else %}
                    <tr class="table-danger">
                        <td class="align-middle"><b>{{ hgoal.description }}</b></td>
                        <td><b>No Black Box Mechanism Selected</b></td>
                        <td><b>Missing Black Box Mechanism</b></td>
                    </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {%  for hgoal in current_hardgoals %}
                {% if not hgoal.priority %}
                    {% if hgoal not in empty_hgoals %}
                    <tr class="table-secondary">
                        <td class="align-middle">{{ hgoal.description }}</td>
                        {% for bbm in hgoal.bbmechanisms %}
                            <td class="align-middle">{{ bbm.name }}</td>
                            <td>
                                <table class="table">
                                    <tbody>
                                    {% for ass in bbm.assumptions %}
                                        <tr class="table-secondary">
                                            <td>{{ ass.name }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                    {% else %}
                    <tr class="table-danger">
                        <td class="align-middle">{{ hgoal.description }}</td>
                        <td>No Black Box Mechanism Selected</td>
                        <td>Missing Black Box Mechanism</td>
                    </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    <button class="btn btn-raised btn-success btn-lg" type="submit" name="sub" value="pressed">Accept Assumptions as is</button>
    </form>
    </div>
{% endblock %}