{% extends "base.html" %}

{% block content %}
    {% for message in get_flashed_messages(category_filter=["succ"]) %}
        <div class="alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% for errors in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert-danger" role="alert">{{ errors }}</div>
    {% endfor %}
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col align-items-center text-center"><a href="{{ url_for('bbmech', project=project.name) }}" class="btn btn-primary btn-raised">Prev</a></div>
        <div class="col-8"><h1 class="display-2 mt-5 ml-5 mb-3 text-center">Project Assumptions</h1></div>
        <div class="col"></div>
      </div>
    </div>
    <div class="container-fluid mt-5">
    <form action="" method="post" name="assumptions">
        <table class="table table-bordered">
            <caption>Review Project and confirm current state of the project</caption>
            <thead class="thead-inverse text-center">
            <tr>
                <th class="text-light">Hard Goals</th>
                <th class="text-light">Black-Box Mechanism</th>
                <th class="text-light">Separate Assumptions</th>
            </tr>
            </thead>
            <tbody>
            {%  for hgoal in current_hardgoals %}
                {% if hgoal.priority %}
                    {% if hgoal not in empty_hgoals %}
                    <tr class="table-primary">
                        <td class="align-middle"><b>{{ hgoal.description }}</b></td>
                    {% for bbm in hgoal.bbmechanisms %}
                        <td class="align-middle"><b>{{ bbm.name }}</b></td>
                        <td>
                            <table class="table">
                                <tbody>
                                {% for ass in bbm.assumptions %}
                                    <tr class="table-primary">
                                        <td><b>{{ ass.name }}</b></td>
                                    </tr>
                                {% endfor %}
                                {% if bbm.extra_assets and not hgoal.extra_hg_used %}
                                  <tr class="table-primary">
                                    <td><b>Additional steps are required for this Hard Goal</b>
{#                                    <button type="submit" class="btn btn-raised btn-primary btn-sm" name="ehg" value="{{ bbm.id }}-{{ hgoal.id }}">Add</button></td>#}
                                      <a class="btn btn-raised btn-primary" href="{{ url_for("ebbm", project=project, hg=hgoal.id) }}">Edit</a>
                                    </td>
                                  </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </td>
                    {% endfor %}
                    </tr>
                    {% else %}
                    <tr class="table-danger">
                        <td class="align-middle"><b>{{ hgoal.description }}</b></td>
                        <td><b>No Black Box Mechanism Selected</b></td>
                        <td><b>Missing Black Box Mechanism</b></td>
                    </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {%  for hgoal in current_hardgoals %}
                {% if not hgoal.priority %}
                    {% if hgoal not in empty_hgoals %}
                    <tr class="table-secondary">
                        <td class="align-middle">{{ hgoal.description }}</td>
                        {% for bbm in hgoal.bbmechanisms %}
                            <td class="align-middle">{{ bbm.name }}</td>
                            <td>
                                <table class="table">
                                    <tbody>
                                    {% for ass in bbm.assumptions %}
                                        <tr class="table-secondary">
                                            <td>{{ ass.name }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% if bbm.extra_assets and not hgoal.extra_hg_used %}
                                      <tr class="table-secondary">
                                        <td><b>Additional steps are required for this Hard Goal</b>
{#                                        <button type="submit" class="btn btn-raised btn-primary btn-sm" name="ehg" value="{{ bbm.id }}-{{ hgoal.id }}">Add</button></td>#}
                                          <a class="btn btn-raised btn-primary" href="{{ url_for("ebbm", project=project, hg=hgoal.id) }}">Edit</a>
                                        </td>
                                      </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                    {% else %}
                    <tr class="table-danger">
                        <td class="align-middle">{{ hgoal.description }}</td>
                        <td>No Black Box Mechanism Selected</td>
                        <td>Missing Black Box Mechanism</td>
                    </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% if not project.final_assumptions %}
      <button class="btn btn-raised btn-success btn-lg" type="submit" name="sub" value="pressed">Accept Assumptions as is</button>
    {% endif %}
    </form>
    </div>
{% endblock %}