<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css" integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/kastel_logo.png"/>
        {% if title %}
        <title>{{ title}} - Kastel Editor</title>
        {% else %}
        <title>Kastel Editor</title>
        {% endif %}
    </head>
    <body class="bg-dark" style="height: 100%">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            {% if g.page != 'Noproj' %}
                {% if g.project %}
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-raised dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           {{ project.name }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for proj in g.user.wprojects %}
                            <a class="dropdown-item" href="{{ url_for('projects', name=proj.name )}}">{{ proj.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <a class="navbar-brand" href="{{ url_for('index') }}">New Project</a>
                {% endif %}
            {% else %}
                <a class="navbar-brand" href="#">Kastel Editor</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-3" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    {% if g.page != 'Noproj' %}
                        {% if g.project %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('projects', name=project.name) }}">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('stakeholders', project=project.name) }}">Stakeholders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('functional_req', project=project.name) }}">Functional Requirements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('goods', project=project.name) }}">Goods</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('hard_goals', project=project.name) }}">Hard Goals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('bbm', project=project.name) }}">BBM</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Stakeholders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Functional Requirements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Goods</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Hard Goals</a>
                            </li>
                        {% endif %}
                    {% else %}
                        {% if g.user %}
                            {% if g.user.has_role('superuser') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin">Admin Panel</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </ul>
                <ul class="navbar-nav float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}"><i class="material-icons">home</i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid" style="min-height: 100%; overflow: hidden;">
            <div class="row">
                <div class="col-1">
                    <img src="/static/img/kastel_logo.png" class="rounded float-right"/>
                </div>
                <div class="col-10 bg-light" style="margin-bottom: -9999px; padding-bottom: 9999px;">
                    {% block content %}{% endblock %}
                </div>
                <div class="col-1">

                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js" integrity="sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe" crossorigin="anonymous"></script>
        <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
        {% block scripts %}{% endblock %}
    </body>
</html>