{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    {% for message in get_flashed_messages(category_filter=["succ"]) %}
        <div class="alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% for errors in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert-danger" role="alert">{{ errors }}</div>
    {% endfor %}
        <form action="" method="post" name="selectBBM">
            {{ form2.hidden_tag() }}
            <div class="container-fluid">
                <table class="table table-striped table-bordered table-hover mt-5">
                    <thead class="thead-inverse">
                        <tr>
                            <th scope="col">Hard Goal</th>
                            <th scope="col">Black Box Mechanism</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for table_index in table_list[0] %}
                    <tr>
                        {% for col in table_list[1:] %}
                            {% if loop.index == 1 %}
                                <td>{{ col[table_index] }}</td>
                            {% endif %}
                            {% if loop.index == 2 %}
                                <td>{{ form2[col[table_index]](class="form-control") }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <button type="submit" class="btn btn-primary btn-raised">Add</button>
                </div>
            </div>
        </form>
</div>
{% endblock %}