{% extends "base.html" %}

{% block content %}
    <div class="containter mt-5 ml-5 mr-5">
    <form action="" name="bbmechs" method="post">
        <table class="table table-bordered">
        <caption>Hard Goals and Black Box Mechanisms relationship table</caption>
            <thead class="thead-inverse text-center">
            <tr>
                <th class="text-light">Hard Goal</th>
                <th class="text-light">Black Box Mechanisms</th>
            </tr>
            </thead>
            <tbody>
            {% for hgoal in project.hard_goals %}
                {% if hgoal.description != None %}
                    {% if hgoal.priority %}
                    <tr>
                        <td class="align-middle table-primary"><b>{{ hgoal.description }}</b></td>
                        <td>
                            <table class="table table-hover">
                                <tbody>
                                {% for bbm in bbms %}
                                    {% for key, values in current_bbms.items() %}
                                        {% if key == hgoal.id and bbm in values %}
                                            {% if (hgoal.authenticity == 'yes' and bbm.authenticity) or (hgoal.confidentiality == 'yes' and bbm.confidentiality) or (hgoal.integrity == 'yes' and bbm.integrity) %}
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="{{ hgoal.id }}_{{ bbm.id }}" checked><label for="{{ hgoal.id }}_{{ bbm.id }}">{{ bbm.name }}</label>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endif %}
                                        {% if key == hgoal.id and bbm not in values %}
                                            {% if (hgoal.authenticity == 'yes' and bbm.authenticity) or (hgoal.confidentiality == 'yes' and bbm.confidentiality) or (hgoal.integrity == 'yes' and bbm.integrity) %}
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="{{ hgoal.id }}_{{ bbm.id }}"><label for="{{ hgoal.id }}_{{ bbm.id }}">{{ bbm.name }}</label>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for hgoal in project.hard_goals %}
                {% if hgoal.description != None %}
                    {% if not hgoal.priority %}
                    <tr>
                        <td class="align-middle table-secondary">{{ hgoal.description }}</td>
                        <td>
                            <table class="table table-hover">
                                <tbody>
                                {% for bbm in bbms %}
                                    {% for key, values in current_bbms.items() %}
                                        {% if key == hgoal.id and bbm in values %}
                                            {% if (hgoal.authenticity == 'yes' and bbm.authenticity) or (hgoal.confidentiality == 'yes' and bbm.confidentiality) or (hgoal.integrity == 'yes' and bbm.integrity) %}
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="{{ hgoal.id }}_{{ bbm.id }}" checked><label for="{{ hgoal.id }}_{{ bbm.id }}">{{ bbm.name }}</label>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endif %}
                                        {% if key == hgoal.id and bbm not in values %}
                                            {% if (hgoal.authenticity == 'yes' and bbm.authenticity) or (hgoal.confidentiality == 'yes' and bbm.confidentiality) or (hgoal.integrity == 'yes' and bbm.integrity) %}
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="{{ hgoal.id }}_{{ bbm.id }}"><label for="{{ hgoal.id }}_{{ bbm.id }}">{{ bbm.name }}</label>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div class="container-fluid">
            <button type="submit" class="btn btn-raised btn-lg btn-success">Store Changes</button>
        </div>
    </form>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}