{% extends "base.html" %}

{% block content %}
  {% for message in get_flashed_messages(category_filter=["succ"]) %}
      <div class="alert-success" role="alert">{{ message }}</div>
  {% endfor %}
  {% for errors in get_flashed_messages(category_filter=["error"]) %}
      <div class="alert-danger" role="alert">{{ errors }}</div>
  {% endfor %}
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col"></div>
      <div class="col-8">
        <h1 class="display-2 mt-5 ml-5 mb-3 text-center">{{ mecha.name }} additional steps</h1>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <form action="" method="post" name="extrahg">
      {{ form.hidden_tag() }}
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hard Goal: {{ hg.unique_id }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ hg.description }}</h6>
        <p class="card-text">To use the BBM <b>{{ mecha.name }}</b> with HG <b>{{ hg.description }}</b> new Hard Goals need to be created</p>
        <p>
          &nbsp;
        </p>
        <h6>New HG's to be Created</h6>
{#        <form class="form-inline">#}
        <ul>
{#          {% for asset in mecha.extra_assets %}#}
{#            {% if asset|lower() in e_sg|map('lower')|join(', ') %}#}
          {% if e_sg %}
          {% for sg in mecha.extra_softgoals %}
            {% if e_fr %}
            {% for fr in mecha.extra_func_req %}
              <li id="sentence">
                <div class="form-group"><label for="comp-{{ component.id }}-{{ sg.id }}-{{ fr.id }}" class="bmd-label-floating">Optional Component Change:</label><input type="text" class="form-control" id="comp-{{ component.id }}-{{ sg.id }}-{{ fr.id }}" name="comp-{{ component.id }}-{{ sg.id }}-{{ fr.id }}" value="{{ component.name }}"> </div><span class="form-group bmd-form-group">ensures the {{ sg.name }} during the process of {{ fr.name }}</span>
              </li>
            {% endfor %}
            {% else %}
              <li>
                <div class="form-group"><label for="comp-{{ component.id }}-{{ sg.id }}-{{ fr.id }}" class="bmd-label-floating">Optional Component Change:</label><input type="text" class="form-control" id="comp-{{ component.id }}-{{ sg.id }}-{{ fr.id }}" name="comp-{{ component.id }}-{{ sg.id }}-{{ fr.id }}" value="{{ component.name }}"> </div><span class="form-group bmd-form-group">ensures the {{ sg.name }} during the process of {{ fr.description }}</span>
              </li>
            {% endif %}
          {% endfor %}
          {% else %}
            {% for asset in mecha.extra_assets %}
              {% if e_fr %}
              {% for fr in mecha.extra_func_req %}
                <li id="sentence">
                  <div class="form-group"><label for="comp-{{ component.id }}-{{ asset.id }}-{{ fr.id }}" class="bmd-label-floating">Optional Component Change:</label><input type="text" class="form-control" id="comp-{{ component.id }}-{{ asset.id }}-{{ fr.id }}" name="comp-{{ component.id }}-{{ asset.id }}-{{ fr.id }}" value="{{ component.name }}"> </div><span class="form-group bmd-form-group">ensures the {{ goal }} of {{ asset.name }} during the process of {{ fr.name }}</span>
                </li>
              {% endfor %}
              {% else %}
                <li>
                <div class="form-group"><label for="comp-{{ component.id }}-{{ asset.id }}-{{ fr.id }}" class="bmd-label-floating">Optional Component Change:</label><input type="text" class="form-control" id="comp-{{ component.id }}-{{ asset.id }}-{{ fr.id }}" name="comp-{{ component.id }}-{{ asset.id }}-{{ fr.id }}" value="{{ component.name }}"> </div><span class="form-group bmd-form-group">ensures the {{ goal }} of {{ asset.name }} during the process of {{ fr.description }}</span>
              </li>
              {% endif %}
            {% endfor %}
          {% endif %}
{#            {% else %}#}
{#              {{ asset }} {{ e_sg }}#}
{#            {% endif %}#}
{#          {% endfor %}#}
        </ul>
{#        </form>#}
{#        {% if hg.authenticity %}#}
{#          <p>Preview of the new HG: <b><span id="{{ goal }}-sentence"><span class="bg-info" id="comp">{{ component.name }}</span> ensures the Authenticity of <span class="bg-warning" id="asset">{{ mecha.extra_hg }}</span> during the process of <span class="bg-primary" id="freq">{{ fr.description }}</span></span></b></p>#}
{#        {% elif hg.confidentiality %}#}
{#          <p>Preview of the new HG: <b><span id="{{ goal }}-sentence">{{ component.name }} ensures the {{ mecha.extra_hg }} during the process of <span id="freq">{{ fr.description }}</span></span></b></p>#}
{#        {% elif hg.integrity %}#}
{#          <p>Preview of the new HG: <b><span id="{{ goal }}-sentence">{{ component.name }} ensures the Integrity of {{ mecha.extra_hg }} during the process of <span id="freq">{{ fr.description }}</span></span></b></p>#}
{#        {% endif %}#}
      </div>
    </div>
      <table class="table">
          <tr>
            <td colspan="2"><button type="submit" class="btn btn-raised btn-primary mb-5">Add</button></td>
          </tr>
      </table>
  </div>
  </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    console.log(document.getElementById('sentence').innerText);
    {#console.log(document.getElementById("{{ goal }}-sentence"));#}
    function ChangeTxt() {
      if (document.getElementById('extrahg').value !== '') {
        document.getElementById('freq').innerHTML = document.getElementById('extrahg').value
      } else {
        document.getElementById('freq').innerHTML = "{{ fr.description }}"
      }
    }

  </script>
{% endblock %}