{% extends "base.html" %}

{% block content %}
  {% for message in get_flashed_messages(category_filter=["succ"]) %}
      <div class="alert-success" role="alert">{{ message }}</div>
  {% endfor %}
  {% for errors in get_flashed_messages(category_filter=["error"]) %}
      <div class="alert-danger" role="alert">{{ errors }}</div>
  {% endfor %}
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col"></div>
      <div class="col-8"><h1 class="display-2 mt-5 ml-5 mb-3 text-center">{{ project.name }} Stakeholders</h1></div>
      {% if stakeholders %}
        <div class="col align-items-center text-center"><a href="{{ url_for('goods', project=project.name) }}" class="btn btn-primary btn-raised">Next</a></div>
      {% else %}
        <div class="col"></div>
      {% endif %}
    </div>
  </div>
  <form action="" method="post" name="addstakeholder">
      {{ form.hidden_tag() }}
  <div class="container">
      <table class="table">
          <tr>
              <td colspan="2"><div class="form-group mb-4">{{ form.stakeholder.label(class_="form-control-label") }}{{ form.stakeholder(class_="form-control", placeholder="Add a stakeholder") }}</div><button type="submit" class="btn btn-raised btn-primary mb-5">Add</button></td>
          </tr>
      </table>
      <table class="table table-hover">
          <tr class="thead-inverse text-center mt-5">
              <th colspan="2">Current Stakeholders</th>
          </tr>
          {% for stakeholder in project.stake_holders %}
          <tr>
              <td id="{{ stakeholder.nickname }}">{{ stakeholder.nickname }}</td>
              <td class="text-right"><a class="text-primary" onclick="editVal(document.getElementById('{{ stakeholder.nickname }}'))" href="#"><i class="material-icons">edit</i></a>&nbsp;&nbsp;&nbsp;<a class="text-danger" href="{{ url_for('removesh', project=project.name, desc=stakeholder.nickname) }}"><i class="material-icons">delete</i></a></td>
          </tr>
          {% endfor %}
      </table>
  </div>
  </form>
{% endblock %}