{% extends "base.html" %}

{% block content %}
  {% for message in get_flashed_messages(category_filter=["succ"]) %}
      <div class="alert-success" role="alert">{{ message }}</div>
  {% endfor %}
  {% for errors in get_flashed_messages(category_filter=["error"]) %}
      <div class="alert-danger" role="alert">{{ errors }}</div>
  {% endfor %}
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col"></div>
      <div class="col-8">
        <h1 class="display-2 mt-5 ml-5 mb-3 text-center">{{ mecha.name }} additional steps</h1>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <form action="" method="post" name="extrahg">
      {{ form.hidden_tag() }}
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hard Goal: {{ hg.unique_id }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ hg.description }}</h6>
        <p class="card-text">To use the BBM <i class="bg-secondary">{{ mecha.name }}</i> with HG <i class="bg-info">{{ hg.unique_id }}</i> a new Hard Goal
          with Asset <i class="bg-warning">{{ mecha.extra_hg }}</i> needs to be created</p>
        <p>
          &nbsp;
        </p>
        {% if hg.authenticity %}
          <p>Preview of the new HG: <span id="{{ goal }}-sentence">{{ component.name }} ensures the Authenticity of {{ mecha.extra_hg }} during the process of <span id="freq">{{ fr.description }}</span></span></p>
        {% elif hg.confidentiality %}
          <p>Preview of the new HG: <span id="{{ goal }}-sentence">{{ component.name }} ensures the Confidentiality of {{ mecha.extra_hg }} during the process of <span id="freq">{{ fr.description }}</span></span></p>
        {% elif hg.integrity %}
          <p>Preview of the new HG: <span id="{{ goal }}-sentence">{{ component.name }} ensures the Integrity of {{ mecha.extra_hg }} during the process of <span id="freq">{{ fr.description }}</span></span></p>
        {% endif %}
      </div>
    </div>
      <table class="table">
          <tr>
              <td colspan="2"><div class="form-group mb-4">{{ form.extrahg.label(class_="form-control-label") }}{{ form.extrahg(class_="form-control", placeholder="Add a service", onchange="ChangeTxt()") }}</div><button type="submit" class="btn btn-raised btn-primary mb-5">Add</button></td>
          </tr>
      </table>
  </div>
  </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    console.log(document.getElementById("{{ goal }}-sentence"));
    function ChangeTxt() {
      if (document.getElementById('extrahg').value !== '') {
        document.getElementById('freq').innerHTML = document.getElementById('extrahg').value
      } else {
        document.getElementById('freq').innerHTML = "{{ fr.description }}"
      }
    }
  </script>
{% endblock %}