{% extends "base.html" %}

{% block content %}
    <h1>Add a new Stakeholder</h1>
    {% for message in get_flashed_messages(category_filter=["succ"]) %}
        <div class="alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% for errors in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert-danger" role="alert">{{ errors }}</div>
    {% endfor %}
        <form action="" method="post" name="addstakeholder">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td><div class="form-group">{{ form.stakeholder.label(class_="form-control-label") }}{{ form.stakeholder(class_="form-control", placeholder="Add a stakeholder") }}</div><button type="submit" class="btn btn-raised btn-primary">Add</button></td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <th>Current Stakeholders</th>
                </tr>
                {% for stakeholder in project.stake_holders %}
                <tr>
                    <td>{{ stakeholder.nickname }}</td>
                    <td><a href="{{ url_for('removesh', project=project.name, desc=stakeholder.nickname) }}">Remove</a></td>
                </tr>
                {% endfor %}
            </table>
        </form>
{% endblock %}