{% extends "base.html" %}

{% block content %}
    <h1>Add a new Functional Requirements</h1>
    {% for message in get_flashed_messages(category_filter=["succ"]) %}
        <div class="alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% for errors in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert-danger" role="alert">{{ errors }}</div>
    {% endfor %}
        <form action="" method="post" name="addsgoals">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td><div class="form-group">{{ form.freq.label(class_="form-control-label") }}{{ form.freq(class_="form-control", size=140, placeholder="describe your requirements") }} <button type="submit" class="btn btn-raised btn-primary">Add</button></div></td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <th>Current Functional Requirements</th>
                </tr>
                {% for freq in project.functional_req %}
                        <tr>
                            <td>{{ freq.description }}</td>
                            <td><a href="{{ url_for('removefr', project=project.name, desc=freq.description) }}">Remove</a></td>
                        </tr>
                {% endfor %}
            </table>
        </form>
{% endblock %}