{% extends "base.html" %}

{% block content %}
    <h1 class="display-2 mt-5 ml-5 mb-3 text-center">{{ project.name }} Functional Requirements</h1>
    {% for message in get_flashed_messages(category_filter=["succ"]) %}
        <div class="alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% for errors in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert-danger" role="alert">{{ errors }}</div>
    {% endfor %}
        <form action="" method="post" name="addsgoals">
            {{ form.hidden_tag() }}
        <div class="container">
            <table class="table">
                <tr>
                  <td><div class="form-group">{{ form.freq.label(class_="form-control-label") }}{{ form.freq(class_="form-control", placeholder="describe your requirements") }}</div></td>
{#                    <td><div class="form-group mb-4">{{ form.subserv.label(class_='form-control-label') }}{{ form.subserv(class_='form-control', size=140, placeholder="Component") }}</div><button type="submit" name="servbtn" value="pressed2" class="btn btn-raised btn-info mb-5">Add</button></td>#}
                  <td><div class="form-group">{{ form['subservice_multiple_select'].label(class_="form-control-label") }}{{ form['subservice_multiple_select'](class_='form-control', id='selectfield') }}</div></td>
                </tr>
                <tr>
                  <td><button type="submit" name="freqbtn" value="pressed" class="btn btn-raised btn-primary mb-5">Add</button></td>
                  <td><div class="form-group">{{ form.subserv.label(id='servinplabel', class_='form-control-label', style='display: none;') }}{{ form.subserv(id='servinp', class_='form-control', style='display: none;', placeholder="Component") }}</div></td>
                </tr>
            </table>
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <tr class="thead-inverse text-center mt-5">
                        <th colspan="2">Current Functional Requirements</th>
                    </tr>
                    {% for freq in project.functional_req %}
                            <tr>
                                <td>{{ freq.description }}</td>
                                <td class="text-right"><a class="text-danger" href="{{ url_for('removefr', project=project.name, desc=freq.description) }}">Remove</a></td>
                            </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col">
                <table class="table table-hover">
                    <tr class="thead-inverse text-center mt-5">
                        <th colspan="2">Current Components</th>
                    </tr>
                    {% for serv in project.sub_services %}
                        <tr>
                            <td>{{ serv.name }}</td>
                            <td class="text-right"><a class="text-danger" href="{{ url_for('removesub', project=project.name, id=serv.id) }}">Remove</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-light">Functional Requirement / Component</th>
                        {% for serv in project.sub_services %}
                            <th class="bg-info text-light">{{ serv.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for freq in project.functional_req %}
                        <tr>
                            <td>{{ freq.description }}</td>
                            {% for serv in project.sub_services %}
                                {% if serv in freq.services %}
                                    <td><input title="{{ serv.name }}" name="chbpx" value="{{ freq.id }}-{{ serv.id }}" type="checkbox" checked></td>
                                {% else %}
                                    <td><input title="{{ serv.name }}" name="chbpx" value="{{ freq.id }}-{{ serv.id }}" type="checkbox"></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3"><button type="submit" id="updatech" name="updatech" value="pressed3" class="btn btn-raised btn-success">Update relationship Matrix</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        </form>
{#        <form>#}
{#        {{ form2.hidden_tag() }}#}
{#        <table>#}
{#          <tr>#}
{#            #}
{#          </tr>#}
{#        </table>#}
{#        </form>#}
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    subserv = document.getElementById('selectfield');
    servinplabel = document.getElementById('servinplabel');
    servinp = document.getElementById('servinp');
    subserv.addEventListener('change', function(e) {
      if(subserv.value == 0){
        servinp.style.display = 'block';
        servinplabel.style.display = 'block';
      } else {
        servinp.style.display = 'none';
        servinplabel.style.display = 'none';
        servinp.value = '';
      }
    });
  </script>
  <script type="text/javascript">
    sub_button = document.getElementById('updatech');
    sub_button.addEventListener('click', function() {
      checkboxes = document.getElementsByName('chbpx');
      fr = 0;
      {% for fr in project.functional_req %}
        fr++;
      {% endfor %}
      serv = 0;
      {% for serv in project.sub_services %}
        serv++;
      {% endfor %}
      i = -1;
      rows = [];
      for (x = 1; x <= fr; x++) {
        rows[x-1] = false;
        for (z = 1; z <= serv; z++){
          i++;
          if (checkboxes[i].checked) {
            rows[x-1] = true;
          }
        }
      }
      msg = false;
      rows.forEach(function(row) {
        if (row === false) {
          msg = true
        }
      });
      if (msg) {
        window.alert('Remember to assign a service to every functional requirement. Functional requirements without a service will not be processed.')
      }
    })
  </script>
{% endblock %}