{% extends "base.html" %}

{% block content %}
    <h1>Add a new Good</h1>
    {% for message in get_flashed_messages(category_filter=["succ"]) %}
        <div class="alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% for errors in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert-danger" role="alert">{{ errors }}</div>
    {% endfor %}
        <form action="" method="post" name="addgood">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>{{ form.goods(size=60, placeholder="add your goods") }} <button type="submit" class="btn btn-raised btn-primary">Add</button></td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <th>Current Goods</th>
                </tr>
                {% for good in project.goods %}
                <tr>
                    <td>{{ good.description }}</td>
                </tr>
                {% endfor %}
            </table>
        </form>
{% endblock %}