{% extends "base.html" %}

{% block content %}
    <h1 class="display-2 mt-5 ml-5 mb-3 text-center">{{ project.name }} Assets</h1>
    {% for message in get_flashed_messages(category_filter=["succ"]) %}
        <div class="alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% for errors in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert-danger" role="alert">{{ errors }}</div>
    {% endfor %}
        <form action="" method="post" name="addgood">
            {{ form.hidden_tag() }}
        <div class="container">
            <table class="table">
                <tr>
                    <td><div class="form-group mb-4">{{ form.goods.label(class_="form-control-label") }}{{ form.goods(class_="form-control", placeholder="Asset") }}</div></td>
                    <td><div class="form-group">{{ form['stakeholders_list'].label(class_="form-control-label") }}{{ form['stakeholders_list'](class_='form-control', id='selectfield') }}</div></td>
                </tr>
                <tr>
                  <td><button type="submit" name="add" value="adding" class="btn btn-raised btn-primary mb-5">Add</button></td>
                </tr>
            </table>
            <table class="table table-hover">
                <tr class="text-center thead-inverse mt-5">
                    <th colspan="2">Current Assets</th>
                </tr>
                {% for good in project.goods %}
                <tr>
                    <td>{{ good.description }}</td>
                    <td class="text-right"><a class="text-danger" href="{{ url_for('removeg', project=project.name, desc=good.description) }}">Remove</a></td>
                </tr>
                {% endfor %}
            </table>
            <table class="table table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-light">Asset / Stakeholder</th>
                        {% for stakeholder in project.stake_holders %}
                            <th class="bg-info text-light">{{ stakeholder.nickname }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for good in project.goods %}
                        <tr>
                            <td>{{ good.description }}</td>
                            {% for stakeholder in project.stake_holders %}
                                {% if stakeholder in good.stakeholders %}
                                    <td><input title="{{ stakeholder.nickname }}" name="chbpx" value="{{ good.id }}-{{ stakeholder.id }}" type="checkbox" checked></td>
                                {% else %}
                                    <td><input title="{{ stakeholder.nickname }}" name="chbpx" value="{{ good.id }}-{{ stakeholder.id }}" type="checkbox"></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3"><button id="update" type="submit" name="update" value="pressed3" class="btn btn-raised btn-success">Update relationship Matrix</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </form>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    sub_button = document.getElementById('update');
    sub_button.addEventListener('click', function() {
      checkboxes = document.getElementsByName('chbpx');
      sh = 0;
      {% for sh in project.stake_holders %}
        sh++;
      {% endfor %}
      ass = 0;
      {% for ass in project.goods %}
        ass++;
      {% endfor %}
      i = -1;
      rows = [];
      for (x = 1; x <= ass; x++) {
        rows[x-1] = false;
        for (z = 1; z <= sh; z++){
          i++;
          if (checkboxes[i].checked) {
            rows[x-1] = true;
          }
        }
      }
      msg = false;
      rows.forEach(function(row) {
        if (row === false) {
          msg = true
        }
      });
      if (msg) {
        window.alert('Remember to assign a stakeholder to every asset. Assets without a stakeholder will not be processed.')
      }
    })
  </script>
{% endblock %}