
{% extends "base.html" %}

{% block content %}
    {% for message in get_flashed_messages(category_filter=["succ"]) %}
        <div class="alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% for errors in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert-danger" role="alert">{{ errors }}</div>
    {% endfor %}
    {% if g.user %}
    <div class="container-fluid mt-5">
        <div class="row justify-content-center"><h1 class="display-2"><b>Welcome, {{ g.user.nickname }}!</b></h1></div>
        <div class="row">
          <div class="col-sm">
            <table class="table table-hover table-striped">
              <thead class="thead-inverse">
              <tr>
                <th scope="col" class="text-right">My Projects</th>
                <th scope="col" class="text-right"><a class="btn btn-raised btn-secondary btn-sm" href="{{ url_for('projects', name='New Project') }}">New Project</a></th>
              </tr>
              </thead>
              <tbody>
              {% for project in g.user.wprojects %}
              <tr>
                <td>{{ project.name }}</td>
                <td class="text-right"><a href="{{ url_for('projects', name=project.name) }}">Edit</a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-sm">
            <table class="table table-hover table-striped">
              <thead class="thead-inverse">
              <tr>
                <th scope="col" colspan="2" class="text-center">Public Projects</th>
              </tr>
              </thead>
              <tbody>
              {% for project in projects_list %}
                {% if project.public %}
                <tr>
                  <td>{{ project.name }}</td>
                  <td class="text-right"><a href="{{ url_for('projects', name=project.name) }}">View</a></td>
                </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid" style="margin-top: 20%">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">To continue, please log in</h1>
                <p class="lead text-center"><a href="{{ url_for('login') }}">Log in with github</a></p>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}