{% extends "base.html" %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="/static/css/scrolling.css">
  <link rel="stylesheet" type="text/css" href="/static/css/list-item-fix.css">
{% endblock %}

{% block content %}
    {% if project == None %}
        <h1 class="mt-4 ml-2">Choose a unique name for the project</h1>
        {% for message in get_flashed_messages(category_filter=["succ"]) %}
            <div class="alert-success" role="alert">{{ message }}</div>
        {% endfor %}
        {% for errors in get_flashed_messages(category_filter=["error"]) %}
            <div class="alert-danger" role="alert">{{ errors }}</div>
        {% endfor %}
            <form action="" method="post" name="createproject">
                {{ form.hidden_tag() }}
                <div class="container-fluid ml-5 mt-5">
                    <div class="row">
                        <div class="col"><div class="form-group">{{ form.project.label(class_="form-control-label") }}{{ form.project(class_="form-control", placeholder="Project Name") }}</div></div>
                        <div class="col"><button type="submit" class="btn btn-raised btn-primary">Create</button></div>
                    </div>
                    <div class="row">
                        <div class="switch"><label>{{ form.law(type="checkbox") }}<span class="bmd-switch-track"><div class="ripple-container"></div></span> Add the Law as a Stakeholder</label></div>
                    </div>
                </div>
            </form>
    {% else %}
        <h1 class="display-2 mt-5 ml-5 text-center">{{ project.name }}</h1>
        {% if g.user.id == project.creator %}
        <button type="button" class="btn btn-raised btn-danger ml-5 mt-2" data-toggle="modal" data-target="#sureModal">Delete Project</button>
            <div class="modal fade" id="sureModal" tabindex="-1" role="dialog" aria-labelledby="sureModalLbl" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="sureModalLbl">Confirm deletion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete project <b>{{ project.name }}</b>?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="{{ url_for('delete_project', project=project.name) }}" class="btn btn-raised btn-outline-danger" role="button" aria-pressed="true">Delete Project</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if g.user in project.editors or project.public %}
          <a href="{{ url_for('export', project=project.name) }}" class="btn btn-raised btn-outline-info ml-5 mt-2">Export Project</a>
        {% endif %}
        {% for message in get_flashed_messages(category_filter=["succ"]) %}
            <div class="alert-success" role="alert">{{ message }}</div>
        {% endfor %}
        {% for errors in get_flashed_messages(category_filter=["error"]) %}
            <div class="alert-danger" role="alert">{{ errors }}</div>
        {% endfor %}
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-2">
                        <div id="list-tab" class="list-group" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-stakeholders-list" data-toggle="list" href="#list-stakeholders" role="tab" aria-controls="stakeholders">Stakeholders</a>
                            <a class="list-group-item list-group-item-action" id="list-func-req-list" data-toggle="list" href="#list-func-req" role="tab" aria-controls="func-req">Functional Requirements</a>
                            <a class="list-group-item list-group-item-action" id="list-goods-list" data-toggle="list" href="#list-goods" role="tab" aria-controls="goods">Assets</a>
                            <a class="list-group-item list-group-item-action" id="list-hg-list" data-toggle="list" href="#list-hg" role="tab" aria-controls="hg">Hard Goals</a>
                            <a class="list-group-item list-group-item-action" id="list-bbm-list" data-toggle="list" href="#list-bbm" role="tab" aria-controls="bbm">Black Box Mechanisms</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-stakeholders" role="tabpanel" aria-labelledby="list-stakeholders-list">
                                <table class="table table-hover table-striped">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th scope="col" class="text-center">Stakeholders</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for sh in project.stake_holders %}
                                    <tr>
                                        <td>{{ sh.nickname }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="list-func-req" role="tabpanel" aria-labelledby="list-func-req-list">
                                <table class="table table-hover table-striped">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th scope="col" class="text-center">Functional Requirements</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for fr in project.functional_req %}
                                    <tr>
                                        <td>{{ fr.description }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="list-goods" role="tabpanel" aria-labelledby="list-goods-list">
                                <table class="table table-hover table-striped">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th scope="col" class="text-center">Assets</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for gd in project.goods %}
                                    <tr>
                                        <td>{{ gd.description }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="list-hg" role="tabpanel" aria-labelledby="list-hg-list">
                                <table class="table table-hover table-striped">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th scope="col" class="text-center">Hard Goals</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for hg in project.hard_goals %}
                                        {% if hg.description %}
                                            {% if hg.priority %}
                                                <tr class="table-primary">
                                                    <td>{{ hg.description }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for hg in project.hard_goals %}
                                        {% if hg.description %}
                                            {% if hg.priority != True %}
                                                <tr class="table-secondary">
                                                    <td>{{ hg.description }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="list-bbm" role="tabpanel" aria-labelledby="list-bbm-list">
                                <table class="table table-hover">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th scope="col" class="text-center">Black Box Mechanisms Used</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for hg in project.hard_goals %}
                                        {% if hg.description %}
                                            {% if hg.priority %}
                                                <tr class="table-primary">
                                                    <td>
                                                        <a class="list-group-item list-group-item-action list-group-item-primary" data-toggle="collapse" href="#collapse{{ hg.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ hg.id }}">{{ hg.description }}</a>
                                                        <div class="collapse" id="collapse{{ hg.id }}">
                                                            <div class="card card-body">
                                                                <ul class="list-group">
                                                                    {% for bbm in hg.bbmechanisms %}
                                                                        <a class="list-group-item">
                                                                            <i class="material-icons">check_circle</i>
                                                                            {{ bbm.name }}
                                                                        </a>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for hg in project.hard_goals %}
                                        {% if hg.description %}
                                            {% if hg.priority != True %}
                                                <tr class="table-secondary">
                                                    <td>
                                                        <a class="list-group-item list-group-item-action list-group-item-secondary" data-toggle="collapse" href="#collapse{{ hg.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ hg.id }}">{{ hg.description }}</a>
                                                        <div class="collapse" id="collapse{{ hg.id }}">
                                                            <div class="card card-body">
                                                                <ul class="list-group">
                                                                    {% for bbm in hg.bbmechanisms %}
                                                                        <a class="list-group-item">
                                                                            <i class="material-icons">check_circle</i>
                                                                            {{ bbm.name }}
                                                                        </a>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                    <table class="table">
                        <thead class="text-center">
                            <tr class="bg-primary">
                                <th scope="col" class="text-light">Current Editors</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for editor in project.editors %}
                                <tr>
                                    <td>{{ editor.nickname }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    <div class="row">
                                        {% if g.user.id == project.creator %}
                                            <div class="col"><button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#addeditor">Add another editor</button></div>
                                            <div class="modal fade" id="addeditor" tabindex="-1" role="dialog" aria-labelledby="editorModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editorModalLabel">Type the name of the editor</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form action="" method="post" name="addeditor">
                                                        {{ form.hidden_tag() }}
                                                            <div class="modal-body ui-front">
                                                                <div class="form-group">
                                                                    {{ form2.editor.label(class_="form-control-label") }}
                                                                    {{ form2.editor(class_="form-control", placeholder="Editor name") }}
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Add editor</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col"><button type="button" class="btn btn-raised btn-outline-warning" data-toggle="modal" data-target="#access">Remove an editor</button></div>
                                            <div class="modal fade" id="access" tabindex="-1" role="dialog" aria-labelledby="accessModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="accessModalLabel">Type the name of the editor</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form action="" method="post" name="removeeditor">
                                                        {{ form.hidden_tag() }}
                                                            <div class="modal-body ui-front">
                                                                <div class="form-group">
                                                                    {{ form3.revoke.label(class_="form-control-label") }}
                                                                    {{ form3.revoke(class_="form-control", placeholder="Editor name") }}
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-warning">Remove editor</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% for editor in project.editors %}
                              {% if g.user.id == editor.id %}
                              <tr>
                                {% if project.public %}
                                  <td>
                                    <a href="{{ url_for('make_public_project', project=project.name) }}" class="btn btn-raised btn-info">Make Private</a>
                                  </td>
                                {% else %}
                                  <td>
                                    <a href="{{ url_for('make_public_project', project=project.name) }}" class="btn btn-raised btn-info">Make Public</a>
                                  </td>
                                {% endif %}
                              </tr>
                              {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
    {% endif %}
{% endblock %}
{% block scripts %}
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/start/jquery-ui.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
    var data = {{ current_editors|safe }};
    $(function() {
        $("#revoke").autocomplete({
            source: data
        });
    });
</script>
<script>
    var data2 = {{ users|safe }};
    $(function() {
        $("#editor").autocomplete({
            source: data2
        });
    });
</script>
{% endblock %}