{% extends "base.html" %}

{% block content %}
    {% if project == None %}
        <h1>Creating a new Project</h1>
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
            <form action="" method="post" name="createproject">
                {{ form.hidden_tag() }}
                <table>
                    <tr>
                        {{ form.project(size=30) }} <input type="submit" value="Create">
                    </tr>
                </table>
            </form>
    {% else %}
        <h1>Choose an option</h1>
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
            <div class="container-fluid">
                <div class="row align-items-start">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col"><a href="{{ url_for('stakeholders', project=project.name) }}">Stakeholders</a></div>
                    </div>
                    {% for stakeholder in project.stake_holders %}
                    <div class="row">
                        <div class="col">{{ stakeholder.nickname }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col"><a href="{{ url_for('index') }}">Soft Goals</a></div>
                    </div>
                    {% for sgoal in project.soft_goals %}
                    <div class="row">
                        <div class="col">{{ sgoal.description }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col"><a href="{{ url_for('index') }}">Goods</a></div>
                    </div>
                    {% for good in project.goods %}
                    <div class="row">
                        <div class="col">{{ good.description }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col"><a href="{{ url_for('index') }}">Hard Goals</a></div>
                    </div>
                    {% for hgoal in project.hard_goals.items %}
                    <div class="row">
                        <div class="col">{{ hgoal }}</div>
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>
    {% endif %}
{% endblock %}