{% extends "base.html" %}

{% block content %}
    <h1>Add a new Functional Requirements</h1>
    {% for message in get_flashed_messages(category_filter=["succ"]) %}
        <div class="alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% for errors in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert-danger" role="alert">{{ errors }}</div>
    {% endfor %}
        <form action="" method="post" name="addsgoals">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>{{ form.sgoals(class_="form-control", size=140, placeholder="describe your requirements") }} <button type="submit" class="btn btn-raised btn-primary">Add</button></td>
                    <td></td>
                    <td><div class="switch"><label>{{ form.priority }} Check for <b>HIGH</b> priority</label></div></td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <th>Current Functional Requirements</th>
                </tr>
                {% for sgoal in project.soft_goals %}
                    {% if sgoal.priority == True %}
                        <tr>
                            <td><b>{{ sgoal.description }}</b></td>
                            <td><a href="{{ url_for('removesg', project=project.name, desc=sgoal.description) }}">Remove</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% for sgoal in project.soft_goals %}
                    {% if sgoal.priority == False %}
                        <tr>
                            <td>{{ sgoal.description }}</td>
                            <td><a href="{{ url_for('removesg', project=project.name, desc=sgoal.description) }}">Remove</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </form>
{% endblock %}