{% extends "base.html" %}
{% block content %}
<p>Some Text<br>
  <input id="testing" type="text" placeholder="type sth"></p>
<p>
  This should say sth: {{ g }} but maybe not
</p>
{% endblock %}
{% block scripts %}
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/start/jquery-ui.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
  var data = [
      { label: "pogchamp" },
      { label: "kreygasm"},
      { label: "monkaS" }
  ];
  $(function(){
      $("#testing").autocomplete({
          source: data,
          focus: function(event, ui){
              event.preventDefault();
          },
          select: function(event, ui){
              event.preventDefault();
          }
      });
  });
</script>
{% endblock %}