{% extends "base.html" %}
  {% block extracss %}
  <link rel="stylesheet" href="/static/js/Treant/Treant.css" type="text/css">
  <link rel="stylesheet" href="/static/js/Treant/vendor/perfect-scrollbar/perfect-scrollbar.css" type="text/css">
  <link rel="stylesheet" href="/static/css/tree.css" type="text/css">
  {% endblock %}
  {% block content %}
    <nav class="navbar navbar-fixed-top navbar-dark bg-dark">
      <div class="switch"><label class="text-light"><input type="checkbox" id="stakeholdersSwitch" value="stakeholders"><span class="bmd-switch-track"><div class="ripple-container"></div></span>Stakeholders</label></div>
      <div class="switch"><label class="text-light"><input type="checkbox" id="attackersSwitch" value="attackers"><span class="bmd-switch-track"><div class="ripple-container"></div></span>Attackers</label></div>
      <div class="switch"><label class="text-light"><input type="checkbox" id="actorsSwitch" value="actors"><span class="bmd-switch-track"><div class="ripple-container"></div></span>Actors</label></div>
      <div class="switch"><label class="text-light"><input type="checkbox" id="bbmsSwitch" value="bbms" checked><span class="bmd-switch-track"><div class="ripple-container"></div></span>BBM's</label></div>
      <div class="switch"><label class="text-light"><input type="checkbox" id="sgsSwitch" value="sgs" checked><span class="bmd-switch-track"><div class="ripple-container"></div></span>Soft Goals</label></div>
      <div class="switch"><label class="text-light"><input type="checkbox" id="hgsSwitch" value="hgs" checked><span class="bmd-switch-track"><div class="ripple-container"></div></span>Hard Goals</label></div>

    </nav>
  <div class="chart align-middle" id="tree-simple"></div>
  {% endblock %}
  {% block scripts %}
  <script src="/static/js/Treant/vendor/raphael.js"></script>
  <script src="/static/js/Treant/Treant.js"></script>
  <script src="/static/js/Treant/vendor/jquery.min.js"></script>
  <script src="/static/js/Treant/vendor/jquery.easing.js"></script>
  <script src="/static/js/Treant/vendor/jquery.mousewheel.js"></script>

  <script>
    let stakeholders = document.getElementById("stakeholdersSwitch");
    let attackers = document.getElementById("attackersSwitch");
    let actors = document.getElementById("actorsSwitch");
    let bbms = document.getElementById("bbmsSwitch");
    let sg = document.getElementById("sgsSwitch");
    let hg = document.getElementById("hgsSwitch");
    let switches = [stakeholders, attackers, actors, bbms, sg, hg];

    function switchesState() {
      let url_params = {};
      for (i = 0; i < switches.length; i++) {
        if (switches[i].checked) {
          url_params[switches[i].value] = true;
        }
      }
      url_params['project'] = "{{ project.name }}";
      return url_params
    }

    let getChart = $.get('{{ url_for("testdata") }}', switchesState(), function(object) {
      window.object = object;
      window.ochart = new Treant(object);
    });

    for (i = 0; i < switches.length ; i++) {
      switch(i) {
        case 0:
        case 1:
          switches[i].addEventListener("change", function() {
            if (this.checked) {
              sg.checked = true;
              window.ochart.destroy();
              let newReq = $.get('{{ url_for("testdata") }}', switchesState(), function(object) {
                window.ochart = new Treant(object)
              })
            } else {
              window.ochart.destroy();
              let newReq = $.get('{{ url_for("testdata") }}', switchesState(), function(object) {
                window.ochart = new Treant(object);
              })
            }
          });
          break;

        case 2:
          switches[i].addEventListener("change", function() {
            if (this.checked) {
              window.ochart.destroy();
              let newReq = $.get('{{ url_for("testdata") }}', switchesState(), function(object) {
                window.ochart = new Treant(object)
              })
            } else {
              window.ochart.destroy();
              let newReq = $.get('{{ url_for("testdata") }}', switchesState(), function(object) {
                window.ochart = new Treant(object);
              })
            }
          });
          break;

        case 3:
          switches[i].addEventListener("change", function() {
            if (this.checked) {
              sg.checked = true;
              hg.checked = true;
              window.ochart.destroy();
              let newReq = $.get('{{ url_for("testdata") }}', switchesState(), function(object) {
                window.ochart = new Treant(object)
              })
            } else {
              window.ochart.destroy();
              let newReq = $.get('{{ url_for("testdata") }}', switchesState(), function(object) {
                window.ochart = new Treant(object);
              })
            }
          });
          break;

        case 4:
          switches[i].addEventListener("change", function() {
            if (this.checked) {
              window.ochart.destroy();
              let newReq = $.get('{{ url_for("testdata") }}', switchesState(), function(object) {
                window.ochart = new Treant(object)
              })
            } else {
              hg.checked = false;
              attackers.checked = false;
              stakeholders.checked = false;
              actors.checked = false;
              bbms.checked = false;
              window.ochart.destroy();
              let newReq = $.get('{{ url_for("testdata") }}', switchesState(), function(object) {
                window.ochart = new Treant(object);
              })
            }
          });
          break;

        case 5:
          switches[i].addEventListener("change", function() {
            if (this.checked) {
              sg.checked = true;
              window.ochart.destroy();
              let newReq = $.get('{{ url_for("testdata") }}', switchesState(), function(object) {
                window.ochart = new Treant(object)
              })
            } else {
              actors.checked = false;
              bbms.checked = false;
              window.ochart.destroy();
              let newReq = $.get('{{ url_for("testdata") }}', switchesState(), function(object) {
                window.ochart = new Treant(object);
              })
            }
          });
          break;

        default:
          switches[i].addEventListener("change", function() {
            if (this.checked) {
              window.ochart.destroy();
              let newReq = $.get('{{ url_for("testdata") }}', switchesState(), function(object) {
                window.ochart = new Treant(object);
              })
            } else {
              window.ochart.destroy();
              let newReq = $.get('{{ url_for("testdata") }}', switchesState(), function(object) {
                window.ochart = new Treant(object);
              })
            }
          })
      }
    }
  </script>
  {% endblock %}